<div data-name="delete.cam" class="page delete-cam-page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link">
                    <i class="f7-icons icon-left"></i>
                </a>
            </div>
            <div class="title">Delete Cam</div>
        </div>
    </div>

    <div class="toolbar toolbar-bottom" id="toolbarDeleteCam">
        <div class="toolbar-inner">
            <a class="btn-cs" href="#">
                Delete
            </a>
        </div>
    </div>

    <div class="page-content">
        <div class="block">
            <p class="item-title delete-title">
                Check the box of the desired dashcam and click the DELETE button.
            </p>
        </div>
        <div class="list virtual-list delete-cam-list no-hairlines">
        </div>
    </div>
</div>