<div data-name="faq.info" class="page faq-page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link">
                    <i class="f7-icons icon-left"></i>
                </a>
            </div>
            <div class="title">FAQ</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines faq-list">
            <ul class="padding-left padding-right no-padding-top no-padding-bottom">

                <li class="item-content no-padding">
                    <a href="/camera.functions.faq/" class="item-inner display-flex align-items-center justify-content-space-between no-padding-right">
                        <span>
                                Camera Functions
                            </span>
                        <i class="f7-icons icon-right"></i>
                    </a>
                </li>

                <li class="item-content no-padding">
                    <a href="/dash.camera.connection.faq/" class="item-inner display-flex align-items-center justify-content-space-between no-padding-right">
                        <span>
                                Dash Camera Connection
                            </span>
                        <i class="f7-icons icon-right"></i>
                    </a>
                </li>

                <li class="item-content no-padding">
                    <a href="/sd.card.requirements.faq/" class="item-inner display-flex align-items-center justify-content-space-between no-padding-right">
                        <span>
                                SD Card Requirements
                            </span>
                        <i class="f7-icons icon-right"></i>
                    </a>
                </li>

                <li class="item-content no-padding">
                    <a href="/media.and.data.faq/" class="item-inner display-flex align-items-center justify-content-space-between no-padding-right">
                        <span>
                                
Media and Data 

                            </span>
                        <i class="f7-icons icon-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>