<div data-name="media.and.data.faq" class="page connection-page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link">
                    <i class="f7-icons icon-left"></i>
                </a>
            </div>
            <div class="title">Media and Data</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines accordion-list connection-list">
            <ul>
                <li class="accordion-item">
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">1. Gesture range</div>
                        </div>
                    </a>
                    <div class="accordion-item-content">
                        <div class="block">
                            <p>The gesture range of the DC100 is up to 10cm below the camera. By swiping your hand under the camera the image will be captured and saved within the GESTURE gallery.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item">
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">2. Saving images or videos</div>
                        </div>
                    </a>
                    <div class="accordion-item-content">
                        <div class="block">
                            <p>The DC100 will automatically save some images and videos for events or incidents. All photos or videos can be downloaded to  your mobile device, see DASH CAM CONNECTION FAQ. The SD card can also be inserted into a PC for image/video retrieval.</p>
                        </div>
                    </div>
                </li>
                <li class="accordion-item">
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">3. Does the APP use data?</div>
                        </div>
                    </a>
                    <div class="accordion-item-content">
                        <div class="block">
                            <p>The WIFI connection is a Point-to-point private connection and does not consume data, the camera should only be attempted to be connected to within a 10m range. This method of connection is chosen to increase data transfer between the DC100 and mobile device.  </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>