<div data-name="sync.time.setting" class="page sync-page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link">
                    <i class="f7-icons icon-left"></i>
                </a>
            </div>
            <div class="title">Sync the mobile phone time to device</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list-block media-list no-hairlines-between no-hairlines sliding active arrow-up sync-list">
            <ul>

                <li class="item-content">
                    <a href="/dashcam.name.setting/" class="item-inner not-empty-state display-flex align-items-center justify-content-space-between border-bottom">
                        <span>
                            Dashcam name #1
                        </span>
                        <i class="f7-icons icon-right"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>