<div data-name="tfcard.faq" class="page tfcard-page">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="f7-icons icon-left"></i>
                    </a>
                </div>
                <div class="title">TF Card</div>
            </div>
        </div>
        <div class="page-content">
            <div class="list no-hairlines accordion-list tfcard-list">
                <ul>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">1. What’s the max capacity of TF card that the DVR can support?</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="block">
                                <p>The DVR supports up to 64G TF card with CLASS 10. The video recording time can be up to 800 minutes. The videos can loop record, and needless for manually clearance.</p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">2. The system prompts that a memory card is not inserted?</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="block">
                                <p>Abnormality during system reading memory card to be the main reason. First make sure the TF card is an authentic one, then cut off power and plug the memory card out and in for several times. If the problem remains, the DVR has to be sent back to factory for analysis.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>