:root {
    --f7-bars-bg-color: #fff;
    --f7-bars-bg-color-rgb: 255,255,255;

    --f7-bars-link-color: #000;
    --f7-bars-text-color: #000;

    --f7-theme-color: #D00000;
    --f7-bars-border-color:#fff;

    --f7-tabbar-link-active-color:#000;
    --f7-tabbar-link-active-border-color:#000;
    --f7-tabbar-link-inactive-color: rgba(0, 0, 0, 0.7);

    --f7-navbar-bg-color: #fff;
    /*
    --f7-toolbar-bg-image: var(--f7-bars-bg-image);
    */

    /*START SEARCHBAR*/
    /*
  --f7-searchbar-bg-image: var(--f7-bars-bg-image);

  --f7-searchbar-bg-color-rgb: var(--f7-bars-bg-color-rgb);
  --f7-searchbar-border-color: var(--f7-bars-border-color);
  */

    --f7-searchbar-bg-color: #F2F2F2;
    --f7-searchbar-bg-color-rgb: 242,242,242;
    --f7-searchbar-height: 44px;
    --f7-searchbar-inner-padding-left: 8px;
    --f7-searchbar-inner-padding-right: 8px;
    /*
    --f7-searchbar-link-color: var(--f7-bars-link-color, var(--f7-theme-color));
    */
    --f7-searchbar-input-font-size: 16px;
    --f7-searchbar-input-border-radius: 4px;
    --f7-searchbar-input-height: 32px;
    --f7-searchbar-input-padding-horizontal: 28px;
    /*
    --f7-searchbar-inline-input-padding-horizontal: var(--f7-searchbar-input-padding-horizontal);
    --f7-searchbar-input-clear-button-color: var(--f7-input-clear-button-color);
    */
    --f7-searchbar-backdrop-bg-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-shadow-image: none;
    --f7-searchbar-in-page-content-margin: 0px;
    --f7-searchbar-in-page-content-box-shadow: none;
    --f7-searchbar-in-page-content-border-radius: 0;
    --f7-searchbar-in-page-content-input-border-radius: 0;
    --f7-searchbar-search-icon-color: rgba(0, 0, 0, 0.4);
    --f7-searchbar-input-bg-color: #fff;
    /*END SEARCHBAR*/

    /*START LIST ITEM*/
    --f7-list-item-text-max-lines: 10;
    /*END LIST ITEM*/
    --f7-block-title-text-color: var(--f7-theme-color);
    --f7-block-title-text-transform: uppercase;
}
.smart-select,
.list-custom{
    --f7-list-item-after-text-color: #000;
    --f7-list-item-title-text-color: rgba(0,0,0,.65);
}
.list .custom-smart-select .item-after{
    max-width: 100%;
    padding-top: 8px;
    margin-left: 0;
    color: var(--f7-input-text-color);
    font-size: var(--f7-input-font-size);
    background-color: var(--f7-input-bg-color,transparent);
    padding-left: var(--f7-input-padding-left);
    padding-right: var(--f7-input-padding-right);
}
.ios .list .custom-smart-select .item-after{
    padding-top: 11px;
    padding-bottom: 6px;
}
.list .custom-smart-select .item-inner:after{
    content: '';
    position: absolute;
    background-color: var(--f7-list-item-border-color);
    display: block!important;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    width: -webkit-calc(100% - 16px);
    width: -moz-calc(100% - 16px);
    width: -o-calc(100% - 16px);
    width: calc(100% - 16px);
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}
.list li:last-child .custom-smart-select .item-inner:after{
    display: none;
}
.ios .list .item-media{
    min-width: 25px;
}

.toolbar {
	height: 80px;
	border-top: 1px solid #e3e3e3;
	border-width: thin;
}

.toolbar-bottom:after{
	display: none;
}

.md .navbar label.icon-only {
    min-width: 0;
    flex-shrink: 0;
    width: 56px;
}
.md .navbar label.link {
    padding: 0 16px;
    min-width: 48px;
}
.navbar label.link {
    display: flex;
    justify-content: flex-start;
    line-height: var(--f7-navbar-link-line-height,var(--f7-navbar-height));
    height: var(--f7-navbar-link-height,var(--f7-navbar-height));
}
.ios .navbar label.icon-only{
    width: 44px;
    margin: 0;
    justify-content: center;
}
.ios .navbar .left label + a,
.ios .navbar .right label + a,
.ios .navbar .left a + label,
.ios .navbar .right a + label,
.ios .navbar .left label + label,
.ios .navbar .right label + label{
    margin-left: 16px;
}
.ios{
    --f7-page-bg-color: #fff;

    --f7-searchbar-border-color: var(--f7-searchbar-bg-color);

    --f7-searchbar-input-extra-padding-left: 15px;
    --f7-searchbar-input-border-radius: 8px;
    --f7-searchbar-bg-color: #F2F2F2;
}
.color-theme-custom {
    --f7-theme-color: #D00000;
    --f7-theme-color-rgb: 208,0,0;
    --f7-theme-color-shade: #a60000;
    --f7-theme-color-tint: #ff0505; /*358e88*/
}
.bg-color-custom{
    background: #D00000!important;
}
.text-color-custom{
    color: #D00000!important;
}
/*.color-theme-custom .navbar{
    background: #D00000;
}*/
.bg-color-lightgray{
    --f7-theme-color-bg-color: #E6E6E6;
}
.text-color-lightgray {
    --f7-theme-color-text-color: #CCCCCC;
}
.bg-color-darkgray{
    --f7-theme-color-bg-color: #333333;
}
.text-color-darkgray {
    --f7-theme-color-text-color: #333333;
}
.color-custom {
    --f7-theme-color: #D00000;
    --f7-theme-color-rgb: 208,0,0;
    --f7-theme-color-shade: #a60000;
    --f7-theme-color-tint: #ff0505;
}

.color-darkgray {
    --f7-theme-color: #333333;
    --f7-theme-color-rgb: 51,51,51;
    --f7-theme-color-shade: #292929;
    --f7-theme-color-tint: #404040;
}
.custom-searchbar{
    --f7-searchbar-input-padding-horizontal: 0px;
    --f7-searchbar-input-extra-padding-right: 96px;
}

.dialog{
    overflow: auto;
    max-height: 90%;
}
.margin-auto{
    margin: auto;
}

.position-relative{
    position: relative;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-y-hidden{
    overflow-y: hidden;
}
.vertical-align-middle{
    vertical-align: middle;
}
.tooltip-init{
    user-select: none
}
.overflow-visible{
    overflow: visible!important;
}
.only-2-rows{
    overflow: hidden;
    text-overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal !important;
}

.toolbar-bottom.toolbar-size-2{
    height: calc(var(--f7-toolbar-height)*2 + var(--f7-safe-area-bottom));
}
.toolbar-bottom.toolbar-size-2 ~ *{
    --f7-page-toolbar-bottom-offset: calc(var(--f7-toolbar-height)*2);
}


.md .searchbar.custom-searchbar .input-clear-button{
    right: 48px;
}
.ios .searchbar.custom-searchbar .input-clear-button{
    right: 56px;

}
.ios .navbars~.page .toolbar-top~.searchbar{
    top: calc(var(--f7-navbar-height) + var(--f7-toolbar-height) + var(--f7-safe-area-top));
}
.searchbar.custom-searchbar button[type="submit"]{
    width: 48px;
    height: 48px;
    margin-top: -24px;
    right: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.ios .searchbar.custom-searchbar button[type="submit"]{
    width: 44px;
    z-index: 40;
}
.searchbar.custom-searchbar button[type="submit"] i{
    vertical-align: middle;
}


.smart-select .input-invalid~.item-input-error-message {
    display: block;
    top: auto;
    bottom: 0;
    left: 72px;
}
.ios .smart-select .input-invalid~.item-input-error-message{
    position: absolute;
    left: 58px;
    margin-bottom: 0;
}

.notification .icon-notification{
    height: 16px;
    width: 16px;
}
.badge-with-border{
    border: 1px solid #fff;
}


.size-24{
    font-size: 24px;
}

.padding-bottom-quarter {
    padding-bottom: calc(var(--f7-typography-padding)/ 4)!important;
}
.item-divider.only-line{
    height: 1px;
}

.md .md-min-height-48{
    min-height: 48px;
}
.ios .ios-min-height-46{
    min-height: 46px;
}
.btn-cs {
    width: 100%;
    max-width: 300px;
    height: 50px;
    background: rgb(221,34,48);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px -9px rgba(111, 134, 214, 1);
    -moz-box-shadow: 0px 0px 20px -9px rgba(111, 134, 214, 1);
    box-shadow: 0px 0px 20px -9px rgba(111, 134, 214, 1);
    /*font-family: 'product_sansbold';*/
}

.btn-cs:hover, .btn-cs:focus, .btn-cs:active {
    background: rgb(221,34,48);	
}
/*.menu-panic-button img,
.float-panic-button img{
    width: 100%;
}*/

.custom-modal-logo-wrapper{
    text-align: center;
}
.custom-modal-logo{
    max-width: 160px;
    width: 100%;
}
.custom-modal-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    word-break: break-all;
}
.custom-modal-text{
    margin-top: 10px;
    color: #757575;
    font-size: 16px;
}
input.dialog-input[type] {
    color: #000;
}


.fab.fab-custom>a{
    flex-wrap: wrap;
}
.fab.fab-custom>a i{
    position: initial;
    transform: none;
    font-size: 20px;
}
.fab.fab-custom .fab-text{
    font-weight: normal;
    text-transform: none;
    font-size: 11px;
    letter-spacing: normal;
    padding: 0;
    /*margin-top: -24px;*/
}
.fab-custom i.pano-preview-img{
    background: url('../images/pano-preview.png') no-repeat center center;
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
}
.fab.fab-custom.with-borders>a{
    border: 1px solid #fff;
    box-sizing: border-box;
}

.fab-custom2{
    position: absolute;
    bottom: var(--f7-safe-area-bottom);
    z-index: 1500;
    width: 100%;
    padding: var(--f7-list-item-padding-horizontal);
    box-sizing: border-box;
}
.fab[class*="-bottom2"]{
    bottom: calc(var(--f7-fab-margin) + var(--f7-safe-area-bottom) + 60px);
}
.fab[class*="-bottom3"]{
    bottom: calc(var(--f7-fab-margin) + var(--f7-safe-area-bottom) + 130px);
}

.leaflet-control-fullscreen{
    background: #fff;
    padding: 5px;
}
.leaflet-control-fullscreen,
.leaflet-control-fullscreen .leaflet-control-fullscreen-button{
    border-radius: 50%;
}
/* STREET VIEW */
#pano {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 10000000;
}

.fab-pano-close{
    z-index: 100000000;
}
.fab-pano-close>a{
    background: rgba(0,0,0,.4);
}

.block-qr{
    text-align: center;
    min-height: 270px;
}


.navbar .center {
	padding-left: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 44px;
    -webkit-flex-shrink: 10;
    -ms-flex: 0 10 auto;
    flex-shrink: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.home-page .navbar:before, .home-page .navbar:after{
	display: none;
}

.searchbar{
	height: 50px;
}

.title-center{
	width: 100%;
	text-align: center;
	display: block !important;
}

.text-center{
	width: 100%;
	text-align: center;
	display: block !important;
}

.color-grey{
	color: rgb(166, 166, 166) !important;
}

.pt-5{
	padding-top: 100px;
}

.border-line-bottom{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #e3e3e3;
	border-width: thin;
}

.toolbar{	
	border-top: 1px solid #e3e3e3;
	border-width: thin;
}

.openTest{
	display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal;
	position: absolute !important;
    right: 0px;
	margin-top:-3px;
}

.color-black{
	color: #000000 !important;
}

.openTest:before {
    font-size: 16px;
	color: #000000;
}

.link{
	width: 100%;
	color: #000000;
}

.searchbar input[type=search]{
	padding-left: 15px;
}

.home-page .page-content{
	height: calc(100vh - 80px);
}

.toolbar-bottom{
	background-color: #ffffff;
}

.info-block{
	margin-top: 3em; 
}

.list-view .item-title {
    overflow: visible;
    text-overflow: initial;
    white-space: normal;
}

.clear-history{
	padding: 0 15px;
	font-size: 24px !important; 
}

