@charset "UTF-8";

@font-face {
  font-family: "ql8-portal";
  src:url("fonts/ql8-portal.eot?v=5");
  src:url("fonts/ql8-portal.eot??v=5#iefix") format("embedded-opentype"),
    url("fonts/ql8-portal.woff?v=5") format("woff"),
    url("fonts/ql8-portal.ttf?v=5") format("truetype"),
    url("fonts/ql8-portal.svg?v=5#ql8-portal") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ql8-portal" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ql8-portal" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-battery:before {
  content: "\63";
}
.icon-change-map:before {
  content: "\64";
}
.icon-coordinates:before {
  content: "\65";
}
.icon-date:before {
  content: "\66";
}
.icon-delete:before {
  content: "\67";
}
.icon-direction:before {
  content: "\68";
}
.icon-email:before {
  content: "\69";
}
.icon-engine:before {
  content: "\6a";
}
.icon-fuel:before {
  content: "\6b";
}
.icon-geolock:before {
  content: "\6c";
}
.icon-go-to:before {
  content: "\6d";
}
.icon-gprs:before {
  content: "\6e";
}
.icon-gps:before {
  content: "\6f";
}
.icon-gsm:before {
  content: "\70";
}
.icon-ignition:before {
  content: "\71";
}
.icon-imei:before {
  content: "\72";
}
.icon-immobilisation:before {
  content: "\73";
}
.icon-initial:before {
  content: "\74";
}
.icon-menu:before {
  content: "\75";
}
.icon-mileage:before {
  content: "\76";
}
.icon-mobile:before {
  content: "\77";
}
.icon-name:before {
  content: "\78";
}
.icon-asset-status:before {
  content: "\79";
}
.icon-notification:before {
  content: "\7a";
}
.icon-password:before {
  content: "\42";
}
.icon-power:before {
  content: "\44";
}
.icon-relay:before {
  content: "\46";
}
.icon-search:before {
  content: "\47";
}
.icon-speed:before {
  content: "\48";
}
.icon-satellite:before {
  content: "\4a";
}
.icon-signal:before {
  content: "\4b";
}
.icon-menu-asset:before {
  content: "\4c";
}
.icon-temperature:before {
  content: "\4d";
}
.icon-doorlock:before {
  content: "\4f";
}
.icon-group:before {
  content: "\51";
}
.icon-radius:before {
  content: "\53";
}
.icon-service-plan:before {
  content: "\54";
}
.icon-add-group:before {
  content: "\55";
}
.icon-delete2:before {
  content: "\56";
}
.icon-address:before {
  content: "\61";
}
.icon-address-1:before {
  content: "\62";
}
.icon-arrow-back:before {
  content: "\50";
}
.icon-admin-renewals:before {
  content: "\58";
}
.icon-admin-groups:before {
  content: "\59";
}
.icon-admin-geofences:before {
  content: "\5a";
}
.icon-admin-assets:before {
  content: "\30";
}
.icon-admin-alarms:before {
  content: "\31";
}
.icon-admin-contact-list:before {
  content: "\45";
}
.icon-header-admin:before {
  content: "\4e";
}
.icon-header-dashboard:before {
  content: "\33";
}
.icon-header-reports:before {
  content: "\34";
}
.icon-header-tracking:before {
  content: "\35";
}
.icon-hearth:before {
  content: "\36";
}
.icon-report-low-battery:before {
  content: "\38";
}
.icon-report-disconnect:before {
  content: "\39";
}
.icon-report-not-reporting:before {
  content: "\21";
}
.icon-report-sold:before {
  content: "\22";
}
.icon-report-in-lot:before {
  content: "\23";
}
.icon-report-playback:before {
  content: "\57";
}
.icon-report-drive-off:before {
  content: "\24";
}
.icon-report-alarm-report:before {
  content: "\25";
}
.icon-report-off-lot:before {
  content: "\37";
}
.icon-calendar:before {
  content: "\26";
}
.icon-filter:before {
  content: "\27";
}
.icon-info-pin:before {
  content: "\28";
}
.icon-play:before {
  content: "\29";
}
.icon-stop:before {
  content: "\2a";
}
.icon-profile-name:before {
  content: "\41";
}
.icon-admin-support:before {
  content: "\43";
}
.icon-admin-settings:before {
  content: "\2b";
}
.icon-time-period:before {
  content: "\2c";
}
.icon-solution-loc8:before {
  content: "\2e";
}
.icon-solution-protect:before {
  content: "\2f";
}
.icon-solution-track:before {
  content: "\3a";
}
.icon-solution-watch:before {
  content: "\3b";
}
.icon-solution:before {
  content: "\2d";
}
.icon-solution-boatfix:before {
  content: "\3c";
}
.icon-show-assets:before {
  content: "\3d";
}
.icon-report-lot-overview:before {
  content: "\3e";
}
.icon-active:before {
  content: "\3f";
}
.icon-alarm-clock:before {
  content: "\40";
}
.icon-admin-users:before {
  content: "\5b";
}
.icon-telephone:before {
  content: "\5d";
}
.icon-under-development:before {
  content: "\49";
}
.icon-view-all:before {
  content: "\52";
}
.icon-voltage:before {
  content: "\32";
}
.icon-report-servicing-log:before {
  content: "\5e";
}
.icon-report-trip:before {
  content: "\5f";
}
.icon-report-overview:before {
  content: "\60";
}
.icon-report-distance:before {
  content: "\7b";
}
.icon-report-duration:before {
  content: "\7c";
}
.icon-report-fuel:before {
  content: "\7d";
}
