@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nj3gyr');
  src:  url('fonts/icomoon.eot?nj3gyr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nj3gyr') format('truetype'),
    url('fonts/icomoon.woff?nj3gyr') format('woff'),
    url('fonts/icomoon.svg?nj3gyr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e900";
  color: #6a8dd9;
}
.icon-after:before {
  content: "\e901";
  color: #6a8dd9;
}
.icon-busket:before {
  content: "\e902";
  color: #6a8dd9;
}
.icon-cam:before {
  content: "\e903";
  color: #6a8dd9;
}
.icon-faq:before {
  content: "\e904";
  color: #6a8dd9;
}
.icon-gallery:before {
  content: "\e905";
  color: #6a8dd9;
}
.icon-info:before {
  content: "\e906";
  color: #6a8dd9;
}
.icon-loc:before {
  content: "\e907";
  color: #6a8dd9;
}
.icon-main:before {
  content: "\e908";
  color: #6a8dd9;
}
.icon-menu:before {
  content: "\e909";
  color: #fff;
}
.icon-note:before {
  content: "\e90a";
  color: #6a8dd9;
}
.icon-pass:before {
  content: "\e90b";
  color: #ccc;
}
.icon-speed:before {
  content: "\e90c";
  color: #6a8dd9;
}
